<meta charset="UTF-8">
<div class="row">
	<div class="col-sm-9">
		<div class="col-sm-3 text-center">
			<br>
			<img alt="陈帅军" class="img-thumbnail " src="imgs/about/chensj.jpg" width="200px">
		</div>
		<div class="col-sm-6 text-left">
			<h3><strong>陈帅军</strong></h3>
			<h5><strong>性别：</strong> <small>男</small></h5>
			<h5><strong>职业生涯：</strong>  <small>2011年-至今</small></h5>
			<h5><strong>职位：</strong><small>coder</small></h5>
			<h5><strong>联系方式：</strong> <small><a href="mailto:chensj@letcode.cn">chensj@letcode.cn</a></small></h5>
		</div>
	</div>
	<div class="col-sm-3 text-center bottom">
		<div class="panel panel-default">
		  <div class="panel-heading">
		  	我喜爱的双色球
		  </div>
		  <div class="panel-body">
		  	<div class="row">
		  		<h5>第{{newball.date_no||''}}期</h5>
			  	<div class="ball red">{{newball.red_ball1||''}}</div>
			    <div class="ball red">{{newball.red_ball2||''}}</div>
			    <div class="ball red">{{newball.red_ball3||''}}</div>
			    <div class="ball red">{{newball.red_ball4||''}}</div>
			    <div class="ball red">{{newball.red_ball5||''}}</div>
			    <div class="ball blue">{{newball.blue_ball1||''}}</div>
		  	</div>
		  </div>
		</div>
	</div>
</div>
